<div class="header-div">
    <div class="container div-centrado">
        <div class="col-3">
            <img src="../../assets/images/logo.png" alt="logoTecnoPower">
        </div>
        <div class="contenedor-menu col-9">
            <div class="redes">
                <img class="social-ico igIco" src="../../assets/images/igIco.png" alt="">
                <img class="social-ico wsIco" src="../../assets/images/wsIco.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <div>
                        <li>Auriculares</li><span>▼</span>
                    </div>
                    <div>
                        <li>Celulares</li><span>▼</span>
                    </div>
                    <div>
                        <li>Línea Stanley</li><span>▼</span>
                    </div>
                    <input type="text" placeholder="¿Qué estás buscando?">                
                </ul>
            </div>
        </div>
    </div>
</div>
