<app-header></app-header>
<div class="contenedor-general container">      
    <div class="searchAndFilterContainer"> 
        <div class="searchInputContainer">
            <input id="searchInputCategoryView" type="text" class="form-control" placeholder="¿Qué estás buscando?">
            <button class="btn btn-light" (click)="getFilteredProducts()">
                🔍︎
            </button>
        </div> 
        <div class="filters">       
            <div class="search-type sort-by-price">
                <p>Ordenar por precio:</p>
                <div><input type="radio" name="radio-sort"> Menor a mayor</div>
                <div><input type="radio" name="radio-sort"> Mayor a menor</div>
            </div>
            <div class="search-type range-price">
                <p>Rango de precio:</p>            
                <p class="show-range-paragraph">
                    <span class="min-range">Min:{{minPrice}}</span>
                    <span class="max-range">Máx:{{maxPrice}}</span>
                </p>
                <mat-slider class="mat-slide-class" min="{{minPrice}}" max="{{maxPrice}}">
                    <input id="min-range" value="{{minPrice}}" matSliderStartThumb  (input)="updateMinRange()">
                    <input id="max-range" value="{{maxPrice}}" matSliderEndThumb  (input)="updateMaxRange()">
                </mat-slider>          
            </div>
            <div class="search-type sort-by-brand">
                <p>Marca:</p>
                <div *ngFor="let brand of brands"><input type="checkbox"> {{brand}}</div>
            </div>
        </div>  
    </div>
    <div class="contenedor-category">
        <div class="tarjetas" *ngFor="let product of products_list" (click)=openDialog(product)>
            <img src="{{product.img}}" alt="">
            <div class="container-title-price-button">
                <p class="product-name">{{product.product_name}}</p>
                <p class="product-price">${{product.price | numberFormat}}</p>
                <button><img src="../../assets/images/carrito.png" alt="">Comprar</button>
            </div>
        </div>    
    </div>
</div>
<app-footer></app-footer>