<div class="header-div">
    <div class="container div-centrado">
        <div class="logoContainer col-3">
            <img src="../../assets/images/logo2.png" alt="logoTecnoPower">
        </div>
        <div class="socialMediaContainer col-9">
            <div id="searchInputContainerId" class="searchInputContainer" [style.display]="searchInputDisplay">
                <input id="searchInput" type="text" class="form-control" placeholder="¿Qué estás buscando?">
                <button id="searchButton" class="btn btn-light" (click)="getFilteredProducts()">
                    🔍︎
                </button>
            </div>
            <div class="socialMedia">
                <img class="social-ico igIco" src="../../assets/images/igIco.png" alt="">
                <img class="social-ico wsIco" src="../../assets/images/wsIco.png" alt="">
            </div>            
        </div>
    </div>
</div>
<div class="ofertas-pago">
    <div><img class="efectivo" src="../../../assets/images/cash.png" alt="">15% Off Efectivo</div>
    <div><img class="transferencia" src="../../../assets/images/bank.png" alt="">Transferencia</div>
    <div><img class="tarjeta" src="../../../assets/images/credit-card.png" alt="">3 cuotas sin interés</div>
</div>
<div class="menu-header">
    <div class="menu">
        <ul>
            <div (click)="goHome()">
                <li>Menú principal</li>
            </div>
            <div (click)="goToCategorySection('Hogar&Electro-0')">
                <li>Hogar & Electro</li>
            </div>
            <div (click)="goToCategorySection('Auriculares-1')">
                <li>Auriculares</li>
            </div>
            <div (click)="goToCategorySection('Celulares-2')">
                <li>Celulares</li>
            </div>
            <div (click)="goToCategorySection('Smartwatches-3')">
                <li>Smartwatches</li>
            </div>
            <div (click)="goToCategorySection('Linea Stanley-4')">
                <li>Línea Stanley</li>
            </div>
            <div (click)="goToCart()">
                <li class="cartIcoContainer">
                    <img class="cartIco" src="../../../assets/images/carritoIco.png" alt="">
                </li>
            </div>
            <!-- <input type="text" placeholder="¿Qué estás buscando?">      -->          
        </ul>
        <div class="cartCircleQuantity">{{cartList.length}}</div>
    </div>
</div>
