<div class="header-div">
    <div class="container div-centrado">
        <div class="col-3">
            <img src="../../assets/images/logo.png" alt="logoTecnoPower">
        </div>
        <div class="contenedor-redes col-9">
            <div class="redes">
                <img class="social-ico igIco" src="../../assets/images/igIco.png" alt="">
                <img class="social-ico wsIco" src="../../assets/images/wsIco.png" alt="">
            </div>
            <input type="text" class="form-control" placeholder="¿Qué estás buscando?">            
        </div>
    </div>
</div>
<div class="ofertas-pago">
    <div><img class="efectivo" src="../../../assets/images/cash.png" alt="">15% Off Efectivo</div>
    <div><img class="transferencia" src="../../../assets/images/bank.png" alt="">Transferencia</div>
    <div><img class="tarjeta" src="../../../assets/images/credit-card.png" alt="">3 cuotas sin interés</div>
</div>
<div class="menu-header">
    <div class="menu">
        <ul>
            <div>
                <li>Auriculares</li>
            </div>
            <div>
                <li>Celulares</li>
            </div>
            <div>
                <li>Línea Stanley</li>
            </div>
            <!-- <input type="text" placeholder="¿Qué estás buscando?">      -->          
        </ul>
    </div>
</div>
