<app-header [searchInputDisplay]="searchInputDisplay"></app-header>
<div class="contenedor-general container">
    <div class="cartTitle" *ngIf="flagView===1">
        <p>Carrito de compras</p>
    </div> 
    <div class="productAdded" *ngFor="let item of loadedCart">
        <div class="imgContainer">
            <img src="{{item.img_url}}" alt="">
        </div>
        <h3>{{item.product_name}}</h3>
        <div class="quantityAndPrice">
            <div class="quantity">
                <div class="quantityLess quantityLess-{{item.id_product}}" (click)="deacreaseQuantity('quantityNumber-'+item.id_product)">_</div>
                <div class="quantityNumber quantityNumber-{{item.id_product}}"><p>1</p></div>
                <div class="quantityPlus quantityPlus-{{item.id_product}}" (click)="increaseQuantity('quantityNumber-'+item.id_product)">+</div>
            </div>
            <div class="price">
                <p>${{item.price | numberFormat}}</p>
            </div>
            <div class="trashContainer">
                <img src="../../../assets/images/crud-remove.png" alt="" (click)="removeItem(item.id_product)">
            </div>
        </div>
    </div>
    <div class="productAdded total" *ngIf="flagView===1">
        <div class="payMethodSelect">
            <div class="containerTextPayMethod">
                <p>COMO</p>
                <p>PAGAS</p>
            </div>
            <div class="containerPayMethod">
                  <label>
                    <input type="radio" [(ngModel)]="paymentMethodSelected" name="paymentMethod" value="Transferencia" checked> Transferencia
                  </label>
                  <label>
                    <input type="radio" [(ngModel)]="paymentMethodSelected" name="paymentMethod" value="Efectivo"> Efectivo <span>(15% descuento)</span>
                  </label>
                  <label>
                    <input type="radio" [(ngModel)]="paymentMethodSelected" name="paymentMethod" value="Tarjeta"> Tarjeta <span>(3 sin interés)</span>
                </label>
            </div>
        </div>
        <div class="totalDiv">
            Total: $ <span>{{total | numberFormat}}</span>
        </div>
    </div>
    <div class="payButtonContainer" *ngIf="flagView===1">
        <button class="payButton">
            COMPRAR
        </button>
    </div>
    <div class="emptyCart" *ngIf="flagView===0">
        <div class="emptyCartImg">
            <img src="../../../assets/images/emptyCart.png" alt="">
            <p>Carrito vacío</p>
        </div>
    </div>
</div>
<app-footer></app-footer>