<div class="adminContainer container">
    <div class="abmProducts">
        <h2>Administrar productos</h2>
        <div class="searchProdct">
            <input class="searchProductInput" type="text" placeholder="Buscar producto...">
        </div>
        <div class="product" *ngFor="let product of productList">
            <div class="imgContainer">
                <img src="{{product.img}}" alt="">
            </div>
            <div class="namePriceContainer">
                <h3 class="productName">{{product.product_name}} </h3>
                <span>${{product.price | numberFormat}}</span>        
            </div>    
            <div class="editOrDelete">
                <button class="edit">EDITAR</button>
                <button class="delete">ELIMINAR</button>
            </div>
        </div>        
    </div>
</div>
