<div class="adminContainer container">
    <div class="abmProducts">
        <h2>ADMINISTRAR PRODUCTOS</h2>
        <div class="searchProdct">
            <input class="searchProductInput" type="text" placeholder="Buscar producto...">
        </div>
        <div class="newProductContainer">
            <button class="newProduct" (click)="openDialog()">
                <img src="../../../assets/images/crud-add.png" alt="">    
                <p>Agregar producto</p>                
            </button>
        </div>
        <div class="product" *ngFor="let product of productList">
            <div class="imgContainer">
                <img src="{{product.img_url}}" alt="">
            </div>
            <div class="namePriceContainer">
                <h3 class="productName">{{product.product_name}} </h3>
                <span>${{product.price | numberFormat}}</span>        
            </div>    
            <div class="editOrDelete">
                    <img src="../../../assets/images/crud-edit.png" alt="">
                    <img src="../../../assets/images/crud-remove.png" alt="">
            </div>
        </div>        
    </div>
</div>
