<div class="contenedor-container py-5">
    <div class="tarjetas">
        <img src="../../assets/images/auriculares/bud3pro.jpg" alt="">
        <p>Auriculares XIAOMI Redmi Buds 3 PRO</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/auriculares/buds4.jpg" alt="">
        <p>Auriculares XIAOMI Redmi Buds 4</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/auriculares/buds4lite.jpg" alt="">
        <p>Auriculares XIAOMI Redmi Buds 4 Lite</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/auriculares/lenovolp40pro.jpg" alt="">
        <p>Auriculares Lenovo XG01</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/auriculares/lenovoxg01.jpg" alt="">
        <p>Auriculares Lenovo XT96</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/auriculares/lenovoxt96.jpg" alt="">
        <p>Auriculares Lenovo LP40 PRO</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/auriculares/popit.jpg" alt="">
        <p>Auriculares Bluethoot Pop It</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <!-- TERMINA AURICULARES -->

    <!-- COMIENZA CELULARES -->

    <div class="tarjetas">
        <img src="../../assets/images/celulares/galaxyA345g.jpg" alt="">
        <p>Samsung Galaxy A34 5G</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/celulares/galaxyA545g.png" alt="">
        <p>Samsung Galaxy A54 5G</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/celulares/galaxyS21fe5g.png" alt="">
        <p>Samsung Galaxy S21 FE 5G</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/celulares/iphone14proYmax.png" alt="">
        <p>Iphone 14 PRO / PRO MAX</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/celulares/redmiNote11Pro5Gb.png" alt="">
        <p>XIAOMI Redmi Note 11 PRO 5G</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/celulares/xiaomiRedmiNote12Pro5g.jpg" alt="">
        <p>XIAOMI Redmi Note 12 PRO 5G</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/celulares/xiaomiMi12Lite5g.png" alt="">
        <p>XIAOMI Mi 12 Lite 5G</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/celulares/xiaomiPocophonePocoM5s.png" alt="">
        <p>XIAOMI Pocophone Poco M5s</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    <div class="tarjetas">
        <img src="../../assets/images/celulares/hidrogel.png" alt="">
        <p>Hidrogel</p>
        <button><img src="../../assets/images/carrito.png" alt="">Agregar al carrito</button>
    </div>
    
</div>
