<div class="add-product-container">
    <div class="title">
        <h1>NUEVO PRODUCTO</h1>
    </div>
    <div class="nameDiv">
        <span>Producto</span>
        <input type="text" class="name">
    </div>
    <div class="codebarDiv">
        <span>Código de barra</span>
        <input type="text" class="codebar">
    </div>
    <div class="priceDiv">
        <span>Precio</span>
        <input type="text" class="price">
    </div>
    <div class="tagsDiv">
        <span>Características</span>
        <input type="text" class="tag">
        <button class="addTagButton">></button>
        <button>Seleccionar...</button>
    </div>
    <div class="imgDiv">
        <span>URL Foto</span>
        <input type="text" class="img">
    </div>
    <div class="categoryDiv">
        <span>Categoría</span>
        <input type="text" class="category">
        <select class="selectedCategory" name="" id=""></select>
        <input type="checkbox">
    </div>
    <div class="makerDiv">
        <span>Fabricante</span>
        <input type="text" class="maker">
        <select class="selectedMaker" name="" id=""></select>
        <input type="checkbox">
    </div>
    <div class="provDiv">
        <span>Proveedor</span>
        <input type="text" class="codeprov">
        <select class="selectedProv" name="" id=""></select>
        <input type="checkbox">
    </div>
    <div class="descriptionDiv">
        <span>Descripción</span>
        <textarea name="" id="" cols="30" rows="10" class="description"></textarea>
    </div>
    <div class="saveDiv">
        <button class="cancel">Cancelar</button>
        <button class="save">Guardar</button>
    </div>
</div>
