<div class="container-general">    
    <div class="first-container">
      <img class="exit-button" src="../../../assets/images/exit2.png" alt="" (click)="closeWindow()">
        <div class="container-first-dialogs">
            <div class="container-img-title">
              <div class="container-img">
                <img class="product-img" src="{{data.img}}" alt="">
              </div>
              <h2 class="product-title">{{data.product_name}}</h2>
            </div>
            <p class="see-details" (click)="seeDetails()">Detalles <span class="arrow"><</span></p>
            <p id="description" class="description">{{data.description}}</p>            
        </div>
        <p class="go-to-payment" (click)="goToPayment()">¡LO QUIERO!</p>
    </div>  
    <div class="second-container">

          <form (ngSubmit)="pay()">
            <h2 class="payMethodTitle">
              <span>
                <img src="../../../assets/images/backbuttoncircle.png" class="backButton" alt="" (click)="backToDetails()">
              </span>
              ¿CÓMO PAGAS?
            </h2>
            <div class="container-img-title-pay">
              <img class="img-pay-scene" src="{{data.img}}" alt="">
              <div class="container-title-price">
                <p>{{data.product_name}}</p>
                <span>Precio de lista</span>
                <h2 id="price" class="price">${{ data.price | numberFormat }}</h2>
              </div>
                
            </div>        
            <div class="container-pay-method">
              <div class="paymentMethodAndPrice">
                <div class="payment-method">
                  <label>
                    <input type="radio" [(ngModel)]="paymentMethodSelected" name="paymentMethod" value="Transferencia" checked> Transferencia
                  </label>
                  <label>
                    <input type="radio" [(ngModel)]="paymentMethodSelected" name="paymentMethod" value="Efectivo"> Efectivo
                  </label>
                  <label>
                    <input type="radio" [(ngModel)]="paymentMethodSelected" name="paymentMethod" value="Tarjeta"> Tarjeta
                  </label>
                </div>
              </div>
            </div>
            <div class="container-buy-button">
              <div class="buy-button add-shopping-cart">
                <button type="button" (click)="addToCart(data)">
                  <img src="../../../assets/images/carrito.png" alt="">
                  Agregar al carrito
                </button>
              </div>
              <div class="buy-button pay">
                <button type="submit">
                  <img src="../../../assets/images/pay.png" alt="">
                  Pagar
                </button>
              </div>
            </div>
          </form>
    </div>
</div>