.container-general{
    max-width: 400px;
    max-height: 450px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    

    .first-container{
        max-width: 400px;
        min-height: 450px;

        .container-first-dialogs{
            width: 100%;
            padding: 2rem 2rem 0 2rem;
            min-height: 400px;
        
            .container-img{
                display: flex;
                justify-content: center;
        
                img{
                    height: 220px;
                }
        
            }
        
            h1{
                text-align: center;
                color: rgb(93, 158, 180);
            }
        
            h2{
                text-align: center;
                font-weight: bold;
            }
        
            .description{
                text-align: center;
                font-size: 12px;
                max-height: 48px;
                overflow-y: scroll;
            }

            
        }

        .go-to-payment {
            text-align: center;
            line-height: 50px;
            background: linear-gradient(to right, #3A4B5E, #add8e6);
            background-size: 200% 100%;
            animation: gradientAnimation 2s linear infinite alternate;
            color: #fff;
            //padding: 10px 20px;
            //border-radius: 5px;
            cursor: pointer;
            -webkit-animation: gradientAnimation 2s linear infinite alternate;
                    
        }       
          
          @keyframes gradientAnimation {
            0% {
              background-position: 0% 50%;
            }
            100% {
              background-position: 100% 50%;
            }
          }

        
    }

    .second-container{

        display: none;
        width: 400px;
        min-height: 450px;
        margin-top: auto;

        .payMethodTitle{

            color: white;
            text-align: center;
            line-height: 80px;
            padding: 0 3.6rem 0 0;
            background: linear-gradient(to right, #3A4B5E, #add8e6);
            background-size: 200% 100%;
            animation: gradientAnimation 2s linear infinite alternate;
            -webkit-animation: gradientAnimation 2s linear infinite alternate;
            
            span{

                margin-right: 1rem;

                img{
                    width: 36px;

                    &:hover{
                        cursor: pointer;
                    }

                }
            }

        }

        @keyframes gradientAnimation {
            0% {
              background-position: 0% 50%;
            }
            100% {
              background-position: 100% 50%;
            }
          }

        .container-pay-method{
            
            padding: 0 2rem 0 2rem;

            .paymentMethodAndPrice{

                span{
                    width: 100%;
                    font-size: 12px;
                    font-style: italic;
                }
                
                .price{


                }
    
                .payment-method{

                    display: flex;
                    justify-content: space-around;
                    
                    label{ 
                                                
                        input:hover{
                        cursor: pointer;
                        }
                    }
        
                }
    
            }    
            
        }

        .buy-button{
            display: flex;
            width: 100%;
            height: 50px;
        
            button{
                width: 100%;
                height: 100%;
            }
        
        }

    }

    


}