.container-general{
    max-width: 400px;
    max-height: 450px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    

    .first-container{
        max-width: 400px;
        min-height: 450px;

        .exit-button{
            width: 36px;
            position: absolute;
            right: 0px;
            margin: 1rem 1rem;
            border-radius: 999px;
            transition: all 0.05s;

            &:hover{

                cursor: pointer;
                box-shadow: 0 0 10px darkgray;
                width: 38px;
                margin: 0.9rem 0.9rem;

            }

        }

        .container-first-dialogs{
            width: 100%;
            padding: 2rem 2rem 0 2rem;
            min-height: 400px;
        
            .container-img-title{

                .container-img{
                    display: flex;
                    justify-content: center;
                    transition: all 0.3s;
            
                    .product-img{
                        height: 220px;
                        transition: all 0.3s;
                    }
            
                }
                              
                .product-title{
                    text-align: center;
                    font-weight: bold;
                    transition: all 0.3s;
                }

            }

            .see-details{

                display: flex;
                color: rgb(58, 75, 94);
                width: 100px;
                margin: 0 auto;
                line-height: 24px;
                text-align: center;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s;

                span{
                    rotate: 90deg;
                    font-size: 12px;
                    font-weight: bold;
                    margin-left: 4px;
                    padding-bottom: 4px;
                    transition: all 0.3s;
                }

            }
        
            .description{
                text-align: center;
                font-size: 12px;
                width: 100%;
                height: 0px;
                overflow-y: hidden;
                transition: all 0.3s;
            }

            
        }

        .go-to-payment {
            text-align: center;
            line-height: 50px;
            background: linear-gradient(to right, #3A4B5E, #add8e6);
            background-size: 200% 100%;
            animation: gradientAnimation 2s linear infinite alternate;
            color: #fff;
            //padding: 10px 20px;
            //border-radius: 5px;
            cursor: pointer;
            -webkit-animation: gradientAnimation 2s linear infinite alternate;
                    
        }       
          
          @keyframes gradientAnimation {
            0% {
              background-position: 0% 50%;
            }
            100% {
              background-position: 100% 50%;
            }
          }

        
    }

    .second-container{

        display: none;
        width: 400px;
        min-height: 450px;
        margin-top: auto;

        .payMethodTitle{

            color: white;
            text-align: center;
            line-height: 80px;
            padding: 0 3.6rem 0 0;
            background: linear-gradient(to right, #3A4B5E, #add8e6);
            background-size: 200% 100%;
            animation: gradientAnimation 2s linear infinite alternate;
            -webkit-animation: gradientAnimation 2s linear infinite alternate;
            
            span{

                margin-right: 1rem;

                img{
                    width: 36px;

                    &:hover{
                        cursor: pointer;
                    }

                }
            }

        }

        @keyframes gradientAnimation {
            0% {
              background-position: 0% 50%;
            }
            100% {
              background-position: 100% 50%;
            }
          }

        .container-pay-method{
            
            padding: 0 2rem 0 2rem;

            .paymentMethodAndPrice{

                span{
                    width: 100%;
                    font-size: 12px;
                    font-style: italic;
                }
                
                
                .payment-method{

                    display: flex;
                    justify-content: space-around;
                    
                    label{ 
                                                
                        input:hover{
                        cursor: pointer;
                        }
                    }
        
                }
    
            }    
            
        }

        .buy-button{
            display: flex;
            width: 100%;
            height: 50px;
        
            button{
                width: 100%;
                height: 100%;
            }
        
        }

    }

    


}